@charset "utf-8";
@import "./base.css";
@import "./layout.css";


.memo-wrapper {
    position:relative;
    padding:20px;
}
.memo-wrapper:after {
    content:'';
    clear:both;
    display:block;
}
.memo-empty {
    /* display:none; */
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}
.memo-empty__text {
    font-size:20px;
    line-height:1.6;
    color:#000
}
.writable-area {
    position:relative;
    width:300px;
    margin:0 auto 30px;
    border-radius:12px;
    border:1px solid #ccc;
}
.writable__head {
    position:relative;
    box-sizing:border-box;
    height:40px;
    border-bottom:1px solid #ccc;
}
.writable__body {
    position:relative;
}
.writable__placeholder {
    position:absolute;
    left:0;
    right:0;
    padding:0 8px;
    height:40px;
    line-height:40px;
    pointer-events:none;
}
.writable__title {
    height:40px;
    padding:0 8px;
    line-height:40px;
    white-space:pre-wrap;
    outline:none;
}
.writable__contents {
    box-sizing:border-box;
    padding:8px;
    min-height:40px;
    outline:none;
}
.wrtiable__action {
    position:absolute;
    right:-50px;
    top:0;
}
.writable__button {
    border-radius:8px;
}
.writable__button--save {
    margin-bottom:12px;
}
.memo {
    position:relative;
    float:left;
    box-sizing:border-box;
    width:32%;
    margin:8px 0 0 2%;
    border-radius:12px;
    border:1px solid #ccc;
    cursor:pointer;
}
.memo:nth-child(3n+1) {
    margin-left:0;
}
.memo:nth-child(-n+3) {
    margin-top:0
}
.memo--write {
    margin:0;
}
.memo__head {
    position:relative;
    box-sizing:border-box;
    height:40px;
    border-bottom:1px solid #ccc;
    line-height:40px;
    padding:0 8px;
    outline:none;
}
.memo__body {
    box-sizing:border-box;
    padding:8px;
    min-height:200px;
    outline:none;
}
.memo__delete {
    position:absolute;
    right:0;
    top:0;
    width:40px;
    height:40px;
    line-height:40px;
    padding:0;
    font-size:18px;
    font-weight:bold;
    background:none;
    color:#bbb;
    outline:none;
}
.memo__delete:hover {
    font-size:24px;
    color:#000
}