@charset "utf-8";
@import "./base.css";
@import "./layout.css";

.view-select {
    position:absolute;
    left:50px;
    top:20px;
    width:100px;
    height:40px;
    margin:0;
    padding:0 10px
}
.memo-wrapper {
    position:relative;
    padding:20px 50px;
}
.memo-wrapper:after {
    content:'';
    clear:both;
    display:block;
}
.memo-empty {
    /* display:none; */
    /* position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align:center; */
    text-align:center;
}
.memo-empty__text {
    padding:20vh 0 0;
    font-size:20px;
    line-height:1.6;
    color:#666
}
.writable-area {
    position:relative;
    width:300px;
    margin:0 auto 30px;
    border-radius:12px;
    border:1px solid #ccc;
}
.writable__head {
    position:relative;
    box-sizing:border-box;
    border-bottom:1px solid #ccc;
}
.writable__body {
    position:relative;
}
.writable__placeholder {
    position:absolute;
    left:0;
    right:0;
    padding:0 8px;
    min-height:40px;
    line-height:40px;
    pointer-events:none;
    color:#ccc;
}
.writable__title {
    box-sizing:border-box;
    min-height:40px;
    padding:10px;
    line-height:1.5;
    white-space:pre-wrap;
    outline:none;
}
.writable__contents {
    box-sizing:border-box;
    padding:10px;
    min-height:80px;
    outline:none;
}
.wrtiable__action {
    position:absolute;
    right:-50px;
    top:0;
}
.writable__button--save {
    margin-bottom:12px;
}
.memo-view-area:after {
    content:'';
    display:block;
    clear:both;
}
.memo {
    position:relative;
    float:left;
    box-sizing:border-box;
    width:32%;
    margin:8px 0 0 2%;
    border-radius:12px;
    border:1px solid #ccc;
    background:#fbfbfc;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, .3)
}
.memo--1 {border-color:#e6e0b2;background-color:#fff8c5}
.memo--2 {border-color:#bae6ad;background-color:#ceffc0}
.memo--3 {border-color:#a9dd73;background-color:#bbf580}
.memo--4 {border-color:#7dd7ad;background-color:#8beec0}
.memo--5 {border-color:#85cfe6;background-color:#93e6ff}
.memo--6 {border-color:#7da9e6;background-color:#8bbbff}
.memo--7 {border-color:#a99ce6;background-color:#bbadff}
.memo--8 {border-color:#e696d3;background-color:#ffa6ea}
.memo--9 {border-color:#d3d3d7;background-color:#eaeaee}
.memo--10 {border-color:#949b9c;background-color:#a4acad}

.memo:nth-child(3n+1) {
    margin-left:0;
}
.memo:nth-child(-n+3) {
    margin-top:0
}
.memo--write {
    margin:0;
}
.memo__state {
    padding:6px 10px;
    border-bottom:1px solid #ccc;
    font-size:13px;
    color:#989898
}
.memo__head {
    position:relative;
    box-sizing:border-box;
    height:40px;
    border-bottom:1px solid #ccc;
    line-height:40px;
    padding:0 8px;
    outline:none;
}
.memo__body {
    box-sizing:border-box;
    padding:8px;
    min-height:140px;
    outline:none;
}
.memo__action {
    position:absolute;
    top:4px;
    width:20px;
    height:20px;
    padding:0;
    background-size:20px 20px;
    outline:none;
    border-radius:0;
    background-color:unset !important;
}
.memo__action--delete {
    right:15px;
    background-image:url('../images/delete_icon.png');
}
.memo__action--delete:hover {
    background-image:url('../images/delete_icon_active.png');
}
.memo__action--setting {
    right:45px;
    background-image:url('../images/setting_icon.png');
}
.memo__action--setting:hover {
    background-image:url('../images/setting_icon_active.png');
}
.memo__action--modify {
    right:75px;
    background-image:url('../images/modify_icon.png');
}
.memo__action--modify:hover {
    background-image:url('../images/modify_icon_active.png');
}
.memo__action--favorite {
    right:105px;
    background-image:url('../images/favorite_icon.png');
}
.memo__action--favorite:hover {
    background-image:url('../images/favorite_icon_active.png');
}
.memo__action--favorite.on {
    background-image:url('../images/favorite_icon_active.png');
}
.modify-wrapper {
    display:none;
    z-index:9999;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
}
.modify-filter {
    position:fixed
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:.5;
}
.modify-area {
    position:fixed;
    left:50%;
    top:50%;
    width:400px;
    transform:translate(-50%, -50%);
    background:#fff;
}
.modify__head {
    box-sizing:border-box;
    min-height:40px;
    padding:10px;
    border-bottom:1px solid #ccc;
    outline:none;
    overflow-x:auto;
}
.modify__contents {
    padding:10px;
    min-height:200px;
    outline:none;
}
.modify__action {
    padding:10px 0 12px;
    border-top:1px solid #ccc;
    text-align:center
}
.palette {display:none;position:fixed;width:95px;padding:10px;border:1px solid #ccc;text-align:center;background:#fff;box-shadow:0 0 4px 0 rgba(0, 0, 0, .3))}
.palette__item {position:relative;display:inline-block;width:13px;height:13px;border-width:1px;border-style:solid}
.palette__item--1 {border-color:#e6e0b2;background-color:#fff8c5}
.palette__item--2 {border-color:#bae6ad;background-color:#ceffc0}
.palette__item--3 {border-color:#a9dd73;background-color:#bbf580}
.palette__item--4 {border-color:#7dd7ad;background-color:#8beec0}
.palette__item--5 {border-color:#85cfe6;background-color:#93e6ff}
.palette__item--6 {border-color:#7da9e6;background-color:#8bbbff}
.palette__item--7 {border-color:#a99ce6;background-color:#bbadff}
.palette__item--8 {border-color:#e696d3;background-color:#ffa6ea}
.palette__item--9 {border-color:#d3d3d7;background-color:#eaeaee}
.palette__item--10 {border-color:#949b9c;background-color:#a4acad}
.palette__button {margin-top:8px}